name: Release the package

on:
  release:

jobs:
  build:
    name: Build the package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: .cache/pip
          key: pip-cache-${{ runner.os }}-${{ hashFiles('setup.py') }}
          restore-keys: |
            pip-cache-${{ runner.os }}-

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Prepare building
        run: pip install build
      - name: Build
        run: python -m build

  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs:
      - build
    environment:
      name: testpypi
      url: https://test.pypi.org/p/intelmq-extensions
    permissions:
      id-token: write
    steps:
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
