name: Release the package

on:
  release:

jobs:
  build:
    name: Build the package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Cache pip
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: .cache/pip
          key: pip-cache-${{ runner.os }}-${{ hashFiles('setup.py') }}
          restore-keys: |
            pip-cache-${{ runner.os }}-

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.12"

      - name: Prepare building
        run: pip install build
      - name: Build
        run: python -m build

  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs:
      - build
    environment:
      name: testpypi
      url: https://test.pypi.org/p/intelmq-extensions
    permissions:
      id-token: write
    steps:
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
        with:
          repository-url: https://test.pypi.org/legacy/
